.text
  Hi #{session[:user]["nickname"]}
.img
  = image_tag session[:user]["image"], class: 'avatar'
%a{:href => "http://ru.dotabuff.com/players/#{session[:user]["uid"]}"}
  Ссылка на дотабаф
= session[:user]
